.header-top {
  background-color: #94DBF2;
  font-size: 60px;
  box-shadow: 15px 15px 15px gray;
  text-align: center;
}

.panel-body h3 {
  text-align: center;
}

.panel-title {
 text-align: center;
}

.panel-body h4 h5 {
  text-align: center;
}

.event-info {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
}

a:hover {
  color: green;
}

a {
  font-size: 20px;
}

#event-information {
  text-align: center;
}
