<!--index.vtl-->
<div class="container">
  <div class="header-top">
    <div class="row">
      <h2>Team Management for Hack-a-thon</h2>
    </div>
  </div>
</div>


<br>
<h2>Here are a list of the available teams:</h2>
<br>
#if ($teams.size() > 0 )
  <ul>
    #foreach ($team in $teams)
      <li><a href="/teams/$team.getId()">$team.getTitle()</a></li>
    #end
  </ul>
#else
  <p>No Teams</p>
#end

<a href="/teams/new">Add a Team</a>
<!--index.vtl-->
