<!--team-member-success.vtl-->
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Success</h3>
      </div>
      <div class="panel-body">
        <p>Your member has been added to the team.</p>

        <a href="/">View all Teams</a>
      </div>
    </div>
  </div>
</div>
<!--team-member-success.vtl-->
